:root{
	--dark-color: #222831;
	--mid-dark-color: #393e46;
	--light-color: #f2f2f2;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Utility Classes */
.flex{
	display: flex;
}
/* Utility Classes End */

/* General Classes */
button, input{
	border-style: none;
}

body{
	/*	Display content on center */
	align-items: center;
	height: 100vh;

	font-family: Helvetica, sans-serif;

	background-color: var(--dark-color);
	color: var(--light-color);
}

main{
	flex-direction: column;
	gap: .4rem;

	margin: 0 auto;
	border-radius: 1rem;
	padding: 1rem;
	width: 40rem;

	background-color: var(--mid-dark-color);
	box-shadow: -5px 5px grey;
}

button{
	cursor: pointer;
	transition: 1s ease-in-out;

	border-radius: 5px;
	padding: .5rem;

	background-color: var(--mid-dark-color);
	color: white;
}

button:hover{
	background-color: var(--light-color);
	color: var(--dark-color);
}
/* General Classes End */

/* Main Classes */
.task-container, .task-form{
	display: flex;
	align-items: center;
	gap: 1rem;

	border-radius: 10px;
	padding: .5rem 1rem;
	width: 100%;

	background-color: var(--dark-color);
}

#task-input{
	flex-grow: 1;

	border-radius: 5px;
	padding: 1rem;

	background-color: var(--mid-dark-color);
	color: white;
}
/* Main Classes End */

