:root{
	--dark-color: #222831;
	--mid-dark-color: #393e46;
	--light-color: #f2f2f2;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	/*	Display content on center */
	display: flex;
	align-items: center;
	height: 100vh;

	background-color: var(--dark-color);
	color: var(--light-color);
	font-family: Helvetica, sans-serif;
}

main{
	display: flex;
	flex-direction: column;
	gap: .4rem;
	margin: 0 auto;
	padding: 1rem;

	background-color: var(--mid-dark-color);
	box-shadow: -5px 5px grey;
	border-radius: 1rem;

	width: 40rem;
}

button{
	padding: .5rem;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	border-style: none;
	background-color: var(--mid-dark-color);
	transition: 1s ease-in-out;
}

button:hover{
	background-color: var(--light-color);
	color: var(--dark-color);
}

.task-container, .task-form{
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 10px 20px;

	background-color: var(--dark-color);
	gap: 1rem;
	width: 100%;
}

#task-input{
	border-style: none;
	background-color: var(--mid-dark-color);
	flex-grow: 1;
	border-radius: 5px;
	padding: 1rem;
	color: white;
}

.task-form label{
	font-weight: bold;
}


